<mat-card>
<mat-card-title text-center style="width:100%;">
  <img src="assets\btncrox.png" align="right" (click)="onCloseClick()">
  <label text-center>{{_label_title}}</label>
</mat-card-title>
<mat-card-content>
      <ng-template #container></ng-template>
</mat-card-content>
<mat-card-footer>
    <button  [ngClass]="[(_valid)?'classicButton':'classicButtonDisabled']" type="button" mat-raised-button color="primary" [disabled]="!_valid" (click)="submitClick()" style="width:100%;color:white;">{{_label_submit}}</button>
    <mat-error *ngIf="txtError">
      * {{txtError}}
    </mat-error>
</mat-card-footer>
</mat-card>
