
<table [hidden]="_hidden" [ngClass]="[(_value)?'formBoxValid':'formBoxInalid']">
  <tr>
    <td *ngIf="_label != undefined" class="formTextLabel">
      <label>{{_label}}</label>
    </td>
    <td>
      <button mat-button positionV="bottom" arrow class="formHelpButton" float-right>?</button>
    </td>
  </tr>
  <tr>
    <td>
      <mat-select [(ngModel)]="_value" (ionChange)="onChange($event)">
        <mat-option *ngFor="let option of _options" [value]="option.value" [disabled]="!_enabled">{{option.label}}</mat-option>
      </mat-select>
    <td>
  </tr>
  <tr>
    <td>
      <label color="danger" *ngIf="(!_value)" stacked  class="formErrorText">* {{_txt_required}}</label>
    </td>
  </tr>
</table>
<br>
