<form [formGroup]="_form" [hidden]="_hidden">
  <div [hidden]="_hidden" [ngClass]="[(_value)?'formBoxValid':'formBoxInalid']">


  <mat-form-field style="width:100%;">
    <mat-select formControlName="data" [(ngModel)]="_value" (change)="onChange($event)" [placeholder]="_label">
      <mat-option *ngFor="let option of _options" [value]="option.value" [disabled]="!_enabled">{{option.label}}</mat-option>
    </mat-select>
    <mat-error *ngIf="!_form.controls['data'].valid">
      * {{_txt_required}}
    </mat-error>
  </mat-form-field>

  <br>
  <mat-divider></mat-divider>
  <br>

  </div>
</form>
