<div class="container"
     fxLayout.xs="column"
     fxLayoutAlign="center"

     fxLayoutGap.xs="0"
     style="margin-left:10px;">
  <div class="item item-1" fxFlex="100%">

    <mat-list *ngIf="datatype=='detail'">
     <mat-list-item role="listitem" *ngFor="let row of rows">
       <div *ngFor="let col of row.cols"  style="margin:0px;" [style.border]="col.border" [style.width]="col.width" [style.text-align]="col.align"[style.color]="col.textcolor" [style.background-color]="col.color">
         <p style="margin:2px;" [style.font-size.px]="col.size">{{col.label}}</p>
       </div>
     <mat-divider></mat-divider>
    </mat-list-item>
   </mat-list>
   <app-auto-grid *ngIf="datatype=='grid'" [data]="rows"></app-auto-grid>
  </div>
</div>
