<div class="container"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="5px"
     fxLayoutGap.xs="0"
     style="
     border-radius: 5px;
     border:1px solid gray;
     margin:10px;
     ">
  <div class="item item-1" fxFlex="100%">
    <mat-list>
     <mat-list-item role="listitem" *ngFor="let row of rows">
       <div *ngFor="let col of row.cols"  style="margin:2px;" [style.border]="col.border" [style.width]="col.width" [style.background-color]="col.color">
         <h5 style="margin:2px;">{{col.label}}</h5>
       </div>
     <mat-divider></mat-divider>
    </mat-list-item>
   </mat-list>
  </div>
</div>
