<div class="cont">

    <div class="boxClass">
      <div *ngFor="let alert of alerts" [ngClass]="(!alert.Visto)?'boxItem':'boxItemDisabled'">
        <mat-list-item class="boxHeader"><p class="boxHeaderContent">UID: {{alert.UID}}</p></mat-list-item>

        <mat-list-item class="boxHeader"><p class="boxHeaderContent">{{alert.fecha}}</p></mat-list-item>

        <mat-list-item class="boxBody"><p class="boxBodyContent">{{alert.Mensaje}}</p></mat-list-item>


        <mat-list-item class="boxFooterItem">
          <div class="boxFooterContent">
            <img src="assets/btnloc.png" (click)="onSearch(alert.UID)">
            <img src="assets/btncheck.png" alt="" *ngIf="!alert.Visto" (click)="onView(alert.IDAlerta)">
            <!--<img class="boxClass" src="assets/btncheckdisabled.png" *ngIf="alert.Visto">-->
          </div>
        </mat-list-item>
      </div>
    </div>
</div>
