.cont {
  height: calc(100vh - 56px);
  //background-color: lightgray;
  min-width: 30vw;
}
.boxItem {
  margin-top: 3px;
  margin-bottom: 3px;

  height: auto;
  text-align: left;

  border-radius:5px;

  background-color:#8492A6;
}
.boxItemDisabled {
  margin-top: 3px;
  margin-bottom: 3px;

  text-align: left;

  border-radius:5px;

  background-color:#F9FAFC;
}

.boxHeader {
  max-height: 5px;
}
.boxHeaderContent {
  max-height: 5px;
  font-size:14px;
  margin-left: 10px;
}

.boxBody {
  font-size:14px;
}
.boxBodyContent {
  max-width: 20vw;
  font-size:14px;
  margin-left: 10px;
}

.boxFooterItem {
  margin-bottom: 3px;
}
.boxFooterContent {
  margin-left: 10px;
}
