<!--<app-header></app-header>-->
<div fxLayout="row">

  <!--Tools-->
  <mat-drawer-container (close)="updateDiagrams()" (open)="updateDiagrams()">

    <button class="buttonOpen" type="button" mat-raised-button color="primary" (click)="tools.toggle()">></button>

    <mat-drawer #tools mode="side" (close)="updateDiagrams()" (open)="updateDiagrams()">
      <button class="buttonBack" type="button" mat-raised-button color="primary" (click)="tools.toggle()"><</button>
      <app-left-side></app-left-side>
    </mat-drawer>
  </mat-drawer-container>
  <!--End Tools-->

  <!--Diagram-->
  <div style="width:100%;"><app-layout></app-layout></div>
  <!--End Diagram-->

  <!--Alerts-->
  <mat-drawer-container (close)="updateDiagrams()" (open)="updateDiagrams()">
    <button class="buttonOpen" type="button" mat-raised-button color="primary" (click)="alerts.toggle()"><</button>
    <mat-drawer #alerts mode="side"  (close)="updateDiagrams()" (open)="updateDiagrams()">
      <button class="buttonBack" type="button" mat-raised-button color="primary" (click)="alerts.toggle()">></button>
      <app-right-side></app-right-side>
    </mat-drawer>
  </mat-drawer-container>
  <!--End Alerts-->

</div>
<!--<app-footer></app-footer>-->
