.buttonOpen {
  background-color: #3C4858;
  min-height:100%;
  min-width:15px;
  width:15px;
  padding: 0 0;margin: 0;
  font-size: 12px;
}
.sidenavClass {
  display: flex;

  //align-content: stretch;
  //align-items: center;
  //justify-content: center;
}

.buttonBack {

  background-color: #3C4858;
  min-width:15px;
  width:15px;
  padding: 0 0;margin: 0;
  font-size: 12px;
  min-height:46px;
}
.buttonBackLeft {
  background-color: #3C4858;
  width:100%;
  padding: 0 0;
  margin: 0;
  font-size: 12px;
  min-height:46px;
  //text-align: left;
}
.spin {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spinMat {

}
.containerPopup {
  min-height: 10vh;
  min-width: 70vw;
}
.crox {
  float: right;
}
