<div class="diagramsPanel">
  <div #diagramDiv class="diagramDiv"></div>
</div>
<div class="">
  <modal #modal>
      <modal-header style="text-align:center;">
          <h1 style="text-align:center;center">{{actualItem.uid}}</h1>
      </modal-header>
      <modal-content>
        <mat-list>
         <mat-list-item><h3>{{actualItem.state}}</h3></mat-list-item>
         <mat-list-item>{{actualItem.loc}}</mat-list-item>
         <mat-list-item>{{actualItem.color}}</mat-list-item>
        </mat-list>
      </modal-content>
  </modal>

</div>
