<div class="">

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container *ngFor="let col of cols;" [matColumnDef]="col.def">
      <mat-header-cell *matHeaderCellDef>{{col.label}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[col.def]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5">
  </mat-paginator>
</div>
