<form [formGroup]="_form" [hidden]="_hidden">
  <div [hidden]="_hidden" [ngClass]="(_enabled)?((_form.controls['data'].valid)?'formBoxValid':'formBoxInalid'):'formBoxDisabled'">


  <mat-form-field style="width:100%;">
    <input matInput formControlName="data" placeholder="{{_label}}" min="{{_min}}" maxlength="{{_max}}" [(ngModel)]="_value" [ngClass]="(_enabled)?((_form.controls['data'].valid)?'formTextValid':'formTextInalid'):'formTextDisabled'" (keyup)="onChange($event)">
    <mat-error *ngIf="(!_form.controls['data'].valid && _txt_required != undefined)">
      * {{_txt_required}}
    </mat-error>
  </mat-form-field>
  
  <br>
  <mat-divider></mat-divider>
  <br>

  </div>
</form>
<!--<br>-->
