<mat-list class="cont">


<!--Views START-->
<mat-expansion-panel hideToggle="true">

<mat-expansion-panel-header class="EXtitleClass">
 <mat-panel-title class="EXtitleClassText">
   {{menuLabels.views.label}}
 </mat-panel-title>
</mat-expansion-panel-header>

<mat-radio-group>
 <mat-list-item *ngFor="let view of views;let first = first;" class="EXbodyClass">
   <mat-radio-button [value]="view.value" [checked]="first" (click)="doView(view)" class="EXbodyClass">{{view.label}}</mat-radio-button>
 </mat-list-item>
</mat-radio-group>

</mat-expansion-panel>
<!--Views END-->


 <!--Filtros START-->
 <mat-expansion-panel hideToggle="true">

   <mat-expansion-panel-header class="EXtitleClass">
     <mat-panel-title class="EXtitleClassText">
       {{menuLabels.filters.label}}
     </mat-panel-title>
   </mat-expansion-panel-header>
   <br>
   <div *ngFor="let filter of filters" class="filterBox">

    <label class="EXbodyClass"><i><b>{{filter.label}}</b></i><mat-divider></mat-divider></label>

    <mat-list-item *ngFor="let sub of filter.values" class="EXbodyClass">
     <mat-checkbox [value]="sub.value" [checked]="true" (click)="doFilter(sub)" class="EXbodyClass">{{sub.label}}</mat-checkbox>
    </mat-list-item>

   </div>

 </mat-expansion-panel>
 <!--Filtros END-->


 <!--Busqueda START-->
<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header class="EXtitleClass">
    <mat-panel-title class="EXtitleClassText">
      {{menuLabels.search.label}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div>
    <br>
    <div class="EXbodyClass">

      <div style="width:60%;">

        <mat-form-field style="width:100%;">
          <mat-select [(ngModel)]="_buscarID" [placeholder]="search[0].entitylabel"  style="width:100%;">
            <mat-option *ngFor="let option of search" [value]="option.propertyname">{{option.propertylabel}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field style="width:100%;">
          <input matInput [placeholder]="_buscarID" id="uid" #uid>
        </mat-form-field>
        <br>
        <button class="classicButton" type="button" mat-raised-button color="primary" style="width:100%;" (click)="doSearch()">{{menuLabels.search.label}}</button>

      </div>
    </div>
  </div>

</mat-expansion-panel>
<!--Busqueda END-->


 <!--Bloqueo START-->
 <mat-expansion-panel hideToggle="true" *ngIf="hasBlocking()">
  <mat-expansion-panel-header class="EXtitleClass">
    <mat-panel-title class="EXtitleClassText">
      {{menuLabels.lock.label}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list-item>
   <mat-checkbox (click)="doBlock($event)" checked="true" class="EXbodyClass">{{menuLabels.lock.checkboxLabel}}</mat-checkbox>
  </mat-list-item>

 </mat-expansion-panel>
 <!--Bloqueo END-->


  <app-detail-container [data]="info" datatype="detail" width="80px" style="width:80px !important;"></app-detail-container>


</mat-list>
