<mat-list>
 <mat-list-item><div style="text-align:center;min-width:100%;"><h3>Views</h3></div></mat-list-item>
 <mat-list-item><button mat-raised-button style="min-width:100%;">Estado</button></mat-list-item>
 <mat-list-item><button mat-raised-button style="min-width:100%;">Mapa Termico</button></mat-list-item>
 <mat-list-item> <button mat-raised-button style="min-width:100%;">Filtros</button></mat-list-item>
 <mat-list-item> <button mat-raised-button style="min-width:100%;">Buscar</button></mat-list-item>
</mat-list>
